html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
    background-color: ivory;
        
    }
}

h1{
    color: #151E3D;
    }
}

p{
    color: #151E3D:
    }
}

table {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border: 5px solid;
    border-collapse:collapse;
    border-color: #151E3D;
    padding: 3px;
    border-radius: 25px;
    }
}

.darkmode {
    html, body, {
        
    }
}