html, body, {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

body {
    background-color: ivory;
    @media screen and (prefers-color-scheme: dark) {
        
    }
}

h1{
    color: #151E3D;
    @media screen and (prefers-color-scheme: dark) {
        color: ivory;
    }
}

p{
    color: #151E3D:
    @media screen and (prefers-color-scheme: dark) {
        color: ivory:
    }
}

table {
    width: 100%;
    border: 3px solid;
    border-collapse:collapse;
    border-color: #151E3D;
    @media screen and (prefers-color-scheme: dark)  {
        border-color: ivory;
    }
}

