html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 5px;
	border: 0;
	outline: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: #151E3D;
	background-color: ivory;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

html body {
    position:static;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

h3{
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	vertical-align: -webkit-baseline-middle;
	height: max-content;
	width: max-content;
}

h2{
	color: ivory;
	font-weight: bolder;
	font-size: xx-large;
	text-align: center;
	background-color: #151E3D;
}

h1{
    color: #151E3D;
	font-weight: bold;
	font-size: x-large;
}


p{
    color: #151E3D;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.NavBar{
	background-color: #151E3D;
}

.NavBar ul{
	list-style-type: none;
	width: 100%;
	display: flex;
	height: 5%;
	align-items: stretch;
}

.NavBar ul li{
	padding: auto;
	float: left;
	min-width: fit-content;
	display: flexbox;
	align-self: center;

}

.NavBar ul li:last-child{
	border-right: none;
	margin-left: auto;
}

.NavBar ul li a{
	background-color: #81818A;
	font-size: max-content;
	color: ivory;
	vertical-align: middle;
}

.NavBar ul li a.active{
	background-color: ivory;
	color: #151E3D;
}

.NavBar ul li a:hover:not(.active){
	background-color: #31a8f7;
	color: ivory;
}

.NavBar ul li img{
	max-width: fit-content;
	max-height: fit-content;
}